spring:
  datasource:
    url: jdbc:mysql://mysql:3306/goldenkat_bank?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: admin
    password: admin123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.security: INFO
